<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h1>Add a Puppy</h1>

    <form method="POST" action="/puppies">
      <div>
        <label>Puppy Name
          <input name="puppy[name]" type="text">
        </label>
      </div>

      <div>
        <button type="submit">Add Puppy</button>
      </div>
    </form>

    <a href="/puppies">Home</a>
  </body>
</html>
