<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h1>Edit a Kitten</h1>

    <form method="POST" action="/kittens/<%= kitten.id %>?_method=put">
      <div>
        <label>Kitten Name
          <input name="kitten[name]" type="text" value="<%= kitten.name %>">
        </label>
      </div>

      <div>
        <button type="submit">Update Kitten</button>
      </div>
    </form>
    <form method="POST" action="/kittens/<%= kitten.id %>?_method=delete">
      <div>
        <button type="submit">Delete Kitten</button>
      </div>
    </form>

    <a href="/kittens">Home</a>
  </body>
</html>
