<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h1>All the Kittens</h1>
    <ul>
    <% kittens.forEach(function(kit) { %>
      <li>
        <a href="/kittens/<%= kit.id %>">
          <%= kit.name %>
        </a>
          <%= kit.color %>
      </li>
    <% }); %>
    </ul>

    <a href="/kittens/new">Add a Kitten</a>
  </body>
</html>
