<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h1>View a Kitten</h1>

    <p>
      <%= kitten.name %> is <%= kitten.name %>
    </p>
    <p>
      <a href="/kittens/<%= kitten.id %>/edit">Edit Kitten</a>
    </p>

    <a href="/kittens">Home</a>
  </body>
</html>
